echo "build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
macos/Flutter/Flutter-Generated.xcconfig
macos/Flutter/flutter_export_environment.sh" > .gitignore